<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Scott Stocker" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link href="https://www.stocker.foo/atom.xml" rel="alternate" title="Scott Stocker" type="application/atom+xml" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Scott Stocker</a>
    <a class="extra" href="/">home</a>
	<a class="extra" href="/about">about</a>
	<a class="extra" href="/talks">talks</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Scott Stocker, Senior Solutions Architect @ <a href="https://www.perficient.com/">Perficient</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
